body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-3 {
  background-position: center;
  background-size: cover; /* change from blank to 'cover' */
  background-image: url("https://api.img2html.com/api/getfile/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImFnZW50ZGV2aWw0NUBnbWFpbC5jb20iLCJmaWxlbmFtZSI6IjAucG5nIiwiZXhwIjoyMzI5MTE5OTU3fQ.cMfKMGpBVWzlL7tnLP57BrVOa2gKqQb4bvw2_IjdGPw/0.png");
  min-height: 100%;
 }

.w3-bar .w3-button {
  padding: 16px;
}